h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: mediumseagreen;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: mediumseagreen;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.name-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=firstname] {
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=firstname]:focus {
    border: 2px solid #333;
    background-color: #eee;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    margin: 10px 0px;
    padding: 10px 25px;
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid mediumseagreen;
    border-radius: 10px;
    transition-duration: 0.25s;
}

button:hover {
    background-color: mediumseagreen;
    color: white;
}

.player {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125em;
  color: black;
}

.player-score {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: black;
}